Subscribe/xml.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2000/svg"><xs:element name="svg"><xs:complexType><xs:sequence><xs:element name="polygon"><xs:complexType><xs:attribute name="points" use="required" /><xs:attribute name="style" use="required" /></xs:complexType></xs:element></xs:sequence><xs:attribute name="width" type="xs:integer" use="required" /><xs:attribute name="height" type="xs:integer" use="required" /></xs:complexType></xs:element></xs:schema>